@font-face {
  font-family: "Boxed Book";
  src: url("../fonts/BoxedBook.ttf");
}
@font-face {
  font-family: "Boxed";
  src: url("../fonts/BoxedRegular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Boxed";
  src: url("../fonts/BoxedRegularBold.ttf");
  font-weight: 700;
}

/** FOR SCREEN **/
@media (min-width: 770px) {
  .Skin .SkinInner {
    width: 100% !important;
  }
}
.Skin .SkinInner {
  padding-top: 0 !important;
}
.Skin #SkinContent {
  background-color: rgb(235, 235, 235);
}
.Skin #Buttons {
  background-color: #fff;
}

body {
  font-family: "Boxed", "Boxed Book", sans-serif;
  font-size: 18px;
  background-color: #fff;
  color: #333;
  padding: 2em 0;
}
.QuestionText {
  background-color: #ebebeb;
  width: max(1000px, 70%);
  max-width: 100%;
}
.logo {
  display: block;
  text-align: right;
  background-color: #fff;
}
.logo img {
  height: 40px;
  margin: 5px 0;
}
#download-div {
  display: block;
  padding: 5px 20px;
  font-size: 16px;
  text-align: center;
}
#download-div:hover { cursor: pointer; }
main.report {
  font-family: "Boxed", "Boxed Book", sans-serif !important;
  font-size: 18px !important;
  background-color: rgb(235, 235, 235);
  color: #111;
  width: max(900px, 60%);
  max-width: min(900px, 100%);
}
.row.report-title {
  text-align: center;
  padding: 1rem min(5%, 40px);
  color: #111;
}
.row {
  padding-bottom: 1rem;
}

/* chart */
div#chart-container {
  padding: 1em;
  max-width: 600px;
  margin: auto;
}
div#chart-container #polar-area-chart-print {
  width: 250px;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: -1;
}
div#chart-container .sector-label {
  padding: 0.3em 0.8em;
  background-color: #fff;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  line-height: 1.3em;
  border-radius: 12px;
  z-index: 2;
}

/* stage indicator */
main .row #stage-indicator-container {
  display: flex;
  padding: 1em;
  max-width: 500px;
  margin: auto;
}
table tr {
  min-height: 5em;
}
table td {
  padding: 5px;
}
main table.stages {
  margin: auto;
  width: 90%;
  background-color: #eee;
  border-collapse: separate;
  border-spacing: 0 15px;
  border-width: 0;
}
main table.stages tr.stage {
  background-color: #111;
  color: #eee;
  opacity: 0.8;
}
main table.stages tr.stage.selected {
  background-color: #fff;
  color: #111;
}
main table.stages .stage-caption {
  font-weight: 700;
  width: 30%;
  text-align: center;
}
main table.stages .stage-text {
  font-weight: 400;
  width: 70%;
}

/* report section */
.report-section-heading-top {
  padding: 15px 10px;
  color: #111;
}
.report-section-heading {
  padding: 15px 10px;
  color: rgba(246, 99, 13, 1);
}
.explanation-text {
  text-align: left;
  width: 97%;
  display: none;
  line-height: 1.5em;
}
.explanation-text.selected {
  display: block;
}
.explanation-icon {
  width: 40px;
  margin: 0 15px;
  opacity: 0.9;
}

/** FOR PDF **/
.QuestionText.print {
  background-color: rgb(235, 235, 235);
  height: 277mm;
  width: 180mm;
  line-height: 1.2rem!important;
}
.QuestionText.print #download-div {
  display: none;
}
.QuestionText.print .logo { 
  display: block;
  text-align: right;
  background-color: #fff;
}
.QuestionText.print .logo img {
  height: 11mm!important;
  padding: 2mm 0;
}
.QuestionText.print main.report {
  font-family: "Boxed", "Boxed Book", sans-serif !important;
  font-size: 12px !important;
  background-color: rgb(235, 235, 235);
  color: #111;
  width: 150mm;
}
.QuestionText.print .row.report-title {
  text-align: center;
  padding: 1rem min(5%, 40px) 0;
  color: #111;
}
.QuestionText.print .row.report-title h1 {
  font-size: 2rem;
}
.QuestionText.print .row {
  padding-bottom: 0.5em;
}

/* chart */
.QuestionText.print div#chart-container {
  padding: 1em;
  max-width: 50%;
  margin: auto;
  text-align: center;
}
.QuestionText.print div#chart-container #polar-area-chart {
  margin: auto;
  position: absolute;
  z-index: -1;
}
.QuestionText.print div#chart-container #polar-area-chart-print {
  width: 250px;
  margin: auto;
  position: static;
  z-index: 1;
}
.QuestionText.print div#chart-container .sector-label {
  background-color: #fff;
  padding: 0.3em 0.8em;
  font-size: 1em;
  text-align: center;
  line-height: 1.3em;
  border-radius: 12px;
  z-index: 2;
}

/* stage indicator */
.QuestionText.print main .row #stage-indicator-container {
  display: flex;
  padding: 1em;
  max-width: 50%;
  margin: auto;
}
.QuestionText.print table tr {
  min-height: 5em;
}
.QuestionText.print table td {
  padding: 5px;
}
.QuestionText.print main table.stages {
  margin: auto;
  width: 90%;
  background-color: #eee;
  border-collapse: separate;
  border-spacing: 0 10px;
  border-width: 0;
}
.QuestionText.print main table.stages tr.stage {
  background-color: #333;
  color: #fff;
}
.QuestionText.print main table.stages tr.stage.selected {
  background-color: #fff;
  color: #111;
  opacity: 1;
}
.QuestionText.print main table.stages .stage-caption {
  width: 30%;
  text-align: center;
}
.QuestionText.print main table.stages .stage-text {
  width: 70%;
}

/* report section */
.QuestionText.print main.report p {
  margin-bottom: 0.5rem;
}
.QuestionText.print .report-section-heading-top {
  padding: 0px 10px;
  color: #111;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
.QuestionText.print .report-section-heading {
  padding: 0px 10px;
  color: rgba(246, 99, 13, 1);
  font-size: 1.2rem;
}
.QuestionText.print .explanation-text {
  text-align: left;
  width: 97%;
  display: none;
}
.QuestionText.print .explanation-text.selected {
  display: block;
}
.QuestionText.print .explanation-icon {
  width: 25px;
  margin: 0 15px;
  opacity: 0.9;
}
